
<div class ="container">

    <h1>Personal Home Page</h1>
    <p>Read more about me! Or check the rest of the site</p>
    <%= link_to "About me", about_path, class:"btn btn-primary" %>
    <%= link_to "Blog/Posts", posts_path, class:"btn btn-primary"%>
</div>