- if current_user
  li.nav-item.dropdown
    a.nav-link.dropdown-toggle href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false"
      = current_user.name
    ul.dropdown-menu.dropdown-menu-lg-end aria-labelledby="navbarDropdown"
      - if current_user.admin?
        li= link_to "Admin Dashboard", admin_root_path(site_slug: @site.slug), class: "dropdown-item"
      li= link_to "New Post", new_post_path(site_slug: @site.slug), class: "dropdown-item"
      li= link_to "Edit Account", edit_user_registration_path, class: "dropdown-item"
      li
        hr.dropdown-divider
      li= button_to "Sign Out", destroy_user_session_path, method: :delete, class: "dropdown-item"
  
- elsif current_customer
  li.nav-item.dropdown
    a.nav-link.dropdown-toggle href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false"
      = current_customer.name
    ul.dropdown-menu.dropdown-menu-lg-end aria-labelledby="navbarDropdown"
      li= link_to "New Post", new_post_path(site_slug: @site.slug), class: "dropdown-item"
      li= link_to "Edit Account", edit_customer_registration_path, class: "dropdown-item"
      li
        hr.dropdown-divider
      li= button_to "Sign Out", destroy_customer_session_path, method: :delete, class: "dropdown-item"
  
- else
  li.nav-item.dropdown
    a.nav-link.dropdown-toggle href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false"
      | Guest
    ul.dropdown-menu.dropdown-menu-lg-end.text-dark aria-labelledby="navbarDropdown"
      li.nav-item= link_to "User Sign Up", new_user_registration_path, class: "dropdown-item"
      li.nav-item= link_to "User Login", new_user_session_path, class: "dropdown-item"
      li.nav-item= link_to "Customer Sign Up", new_customer_registration_path, class: "dropdown-item"
      li.nav-item= link_to "Customer Login", new_customer_session_path, class: "dropdown-item" 