.container
  = render @post
  
  .post-actions.mb-4
    = render "likes/like_button", post: @post
    
    - if user_signed_in? && (@post.user_id == current_user.id)
      = link_to "Edit this post", edit_post_path(@post), class: "btn btn-primary me-2"
    - elsif customer_signed_in? && @post.customer_id == current_customer.id
      = link_to "Edit this post", edit_post_path(@post), class: "btn btn-primary me-2"
    
    - if user_signed_in? && (@post.user_id == current_user.id)
      = button_to "Destroy this post", @post, method: :delete, class: "btn btn-danger me-2"
    - elsif customer_signed_in? && @post.customer_id == current_customer.id
      = button_to "Destroy this post", @post, method: :delete, class: "btn btn-danger me-2"
    
    = link_to "Back to posts", posts_path, class: "btn btn-secondary"

.container
  = render "comments/form", 
    post: @post, 
    comment: @post.comments.build,
    submit_label: "Reply"
    
  - @comments.each do |comment|
    = render "comments/comment", 
      post: @post, 
      comment: comment 